h1{color:red}
header nav{background-color: aqua;}
ul a{color: red}
ul > li{color: black;}

article p {

	line-height: 4px;
}

section > article {

	border: 1px solid black;

}

footer p {

	color: red ;
}

footer {

	background-color: blue;
}